body{
background-color:grey

}

a{
font-family: 'Gluten',cursive;
 color: navy;
 font-size: 5em; 
 text-decoration: none; 
}

a:hover {
    color: blue
}
a:active {
    color:greenyellow
}
.h3c {
    color: 
}
#h3i {
    color: 
}
h1 {
    background-color:dodgerblue
}
h1{
    color:wheat
}